/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo img {
    height: 100px;
}

.logout-btn {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c0392b;
}

/* Main content styles */
.main-content {
    margin-top: 120px; /* espacio para el navbar */
    padding: 20px;
}

.map-container {
    width: 100%;
    height: 600px; /* ajuste de altura según sea necesario */
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container p {
    color: #777;
}

/* Estilos para el mapa*/

#mapa {
    border: 2px solid #4444;
    height: 550px;
    margin-left: 4vh;
    margin-right: 4vh;
    position: relative;
    z-index: 1000;
}
#lineas {
    
    position: absolute;
    top: 2vh;
    right: 2vh;
    background: #63997a;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 1000;
}
.boton-lineas{
    background-color: #fa7f4b;
    border: 1px solid #4444;
    color: white;
    width: 160px;
    height: 30px;
    font-size: 14px;
}
.linea-item {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    height: 30px;
}
.linea-item:hover {
    background-color: #f0f0f0;
    color: #000;
}
@media (max-width: 768px){
    #lineas{
        top: 1vh;
        right: 1vh;
        width: auto;
        padding: 5px;
    }
    .boton-lineas{
        width: auto;
        font-size: 12px;
        padding: 5px 10px;
    }
}